{% extends 'padre.html' %}

{% block titulo %}
    Buscador
{% endblock %}

{% block contenido %}

    <div class="d-flex" style="margin-top:5rem; margin-left:7rem"></div>

        {% for pedido in pedidos %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{pedido.prenda}}</h5>
                    <p class="card-text">{{pedido.fecha_pedido}}</p>
                    <p class="card-text">{{pedido.precio}}</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        {% endfor %}

        {% for prenda in prendas %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{prenda.nombre}}</h5>
                    <p class="card-text">{{prenda.talle}}</p>
                    <p class="card-text">{{prenda.color}}</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        {% endfor %}

    </div>

    {{errors}}

{% endblock %}