{% extends 'padre.html' %}

{% block titulo %}
    Crear Prenda
{% endblock %}

{% block contenido %}

    Prenda creada a medida:
    {% if form %}
        <h2 style="margin-left:25rem;">Complete los datos del nuevo pedido:</h2>
        <form method="POST" action="" style="margin-left:35rem;margin-top:7rem">
            {% csrf_token %}
            <table>
                {{form.as_table}} 
            </table>
            <input type="submit", value="Enviar">
        </form>
    {% elif nueva_prenda %}
        <h2 style="margin-left:25rem;">Nueva prenda creada correctamente.</h2>
        <div class="card" style="width: 18rem; margin-top: 4rem; margin-left: 30rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{nuevo_pedido.prenda}}</h5>
                <p class="card-text">{{nuevo_pedido.fecha_pedido}}</p>
                <p class="card-text">{{nuevo_pedido.precio}}</p>
            </div>
        </div>

    {% endif %}



{% endblock %}