{% extends 'padre.html' %}

{% block titulo %}
    Crear Pedido
{% endblock %}

{% block contenido %}

    {% if form %}
        <h2 style="margin-left:25rem;">Complete los datos del nuevo pedido:</h2>
        <form method="POST" action="" style="margin-left:35rem;margin-top:7rem">
            {% csrf_token %}
            <table>
                {{form.as_table}} 
            </table>
            <input type="submit", value="Enviar">
        </form>
    {% elif nuevo_pedido %}
        <h2 style="margin-left:25rem;">Nuevo pedido creado correctamente.</h2>
        <div class="card" style="width: 18rem; margin-top: 4rem; margin-left: 30rem;">
            <div class="card-body">
                <h5 class="card-title">{{nuevo_pedido.prenda}}</h5>
                <p class="card-text">{{nuevo_pedido.fecha_pedido}}</p>
                <p class="card-text">{{nuevo_pedido.precio}}</p>
                <p class="card-text">Es de la temporada actual: {{nuevo_pedido.es_temporada_actual}}</p>
            </div>
        </div>

    {% endif %}



{% endblock %}