{% extends 'padre.html' %}

{% block titulo %}
    Crear Prenda
{% endblock %}

{% block contenido %}

    {% if form %}
        <h2 style="margin-left:25rem;">Complete los datos para crear una prenda a medida:</h2>
        <form method="POST" action="" style="margin-left:35rem;margin-top:7rem">
            {% csrf_token %}
            <table>
                {{form.as_table}} 
            </table>
            <input type="submit", value="Enviar">
        </form>
    {% elif nueva_prenda %}
        <h2 style="margin-left:25rem;">Nueva prenda creada correctamente.</h2>
        <div class="card" style="width: 18rem; margin-top: 4rem; margin-left: 30rem;">
            <div class="card-body">
                <h5 class="card-title">{{nueva_prenda.nombre}}</h5>
                <p class="card-text">{{nueva_prenda.talle}}</p>
                <p class="card-text">{{nueva_prenda.color}}</p>
            </div>
        </div>

    {% endif %}



{% endblock %}