{% extends 'padre.html' %}

{% block titulo %}
    Inicio
{% endblock %}

{% block contenido %}

    <h2>Bienvenidos a la Tienda</h2>
    
    <h4>En Contactos encontraran nuestra informacion en caso de consultas, valoraciones o quejas.</h4>
    <h4>En Prendas y Accesorios podran encontrar las distintos articulos.</h4>
    <h4>En Crear Pedidos y Cargar Accesorios, podra cargar el articulo que decida comprar. </h4>
    <h4>En Crear Prenda, podra cargar sus preferencias para una prenda a medida.</h4>
    
{% endblock %}