{% extends 'padre.html' %}

{% block titulo %}
    Pedidos
{% endblock %}

{% block contenido %}

    <div class="d-flex" style="margin-top:5rem; margin-left:7rem"></div>
        {% for pedido in object_list %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{pedido.prenda}}</h5>
                    <p class="card-text">{{pedido.talle}}</p>
                    <p class="card-text">{{pedido.color}}</p>
                    <p class="card-text">
                        La prenda es estampada: {{pedido.tiene_estampado}}
                    </p>
                    <p class="card-text">{{pedido.fecha_pedido}}</p>
                    <a href="/ropa/detalle_pedido/{{pedido.id}}/" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}